/*-------------------------
    General
--------------------------*/

section, footer, header, aside, nav{
    display: block;
}

/*-------------------------
    Search layout
--------------------------*/
#search {
  width: 300px;
  margin-left: 40px;
  margin-top: 10px;
}

.search-wrapper label {
  position: absolute;
  color: rgba(0, 0, 0, 0.4);
  top: 15px;
  left: 240px;
  z-index: -1;
  transition: .15s all ease-in-out;
}

.search-wrapper input {
  padding: 4px 12px;
  color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.12);
  transition: .15s all ease-in-out;
  background: white;
}

.search-wrapper input:focus {
  outline: none;
  transform: scale(1.05) translateX(7px);
}

.search-wrapper input:focus + label {
  transform: translateY(0px) translateX(125px);
}

.search-wrapper input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

/*-------------------------
    Set Details layout
--------------------------*/

#setDisplay {
  width: 400px;
  float: left;
  margin-top: 6px;
}

/*-------------------------
    Card layout
--------------------------*/

.card {
  width: 800px;
}

/*-------------------------
    Grid layout
--------------------------*/

ul.grid{
  list-style: none;
  width: 46%;
  float: left;
  margin-top: 6px;
}

ul.grid li{
  padding: 2px;
  float: left;
  cursor: pointer;
}

ul.grid li img{
  width: 400px;
  height: 280px;
  object-fit: cover;
  display: block;
  border: black;
  border-style: solid;
}

@media (min-width: 500px) and (max-width: 999px) {
  ul.grid li img{
    width: 100px;
    height: 100px;
  }

  #setDisplay {
    width: auto;
  }

  .card {
    width: 300px;
  }
}

@media (min-width: 1000px) and (max-width: 1209px){
  ul.grid li img{
    width: 200px;
  }

  .card {
    width: 450px;
  }
}

@media (min-width: 1210px) {
  ul.grid li img{
    width: 250px;
  }
}

@media (min-width: 1430px) {
  ul.grid li img{
    width: 300px;
  }
}

@media (min-width: 1740px) {
  ul.grid li img{
    width: 370px;
  }
}

@media (min-width: 1900px) {
  ul.grid li img{
    width: 400px;
  }
}